@import "./common/_base.scss";
@import "./mixins/mixins.scss";

$color-list: (primary: $primary, success: $success, warning: $warning, danger: $danger, info: $info,
);
$active-color-list: (primary: $primary-active,
  success: $success-active,
  warning: $warning-active,
  danger: $danger-active,
  info: $info-active,
);
$disable-color-list: (primary: $primary-disable,
  success: $success-disable,
  warning: $warning-disable,
  danger: $danger-disable,
  info: $info-disable,
);
$focus-color-list: (primary: $primary-focus,
  success: $success-focus,
  warning: $warning-focus,
  danger: $danger-focus,
  info: $info-focus,
);

@include blockquote(button) {
  @include status($color-list);
  font-size: $font-size;
  border-radius: $border-radius;
  color: #000000;
  cursor: pointer;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  align-items: center;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  line-height: 1;

  &.y-button-medium {
    padding: 10px 20px;
  }

  &.y-button-small {
    padding: 9px 15px;
  }

  &.y-button-mini {
    padding: 7px 15px;
  }

  &:focus,
  &:hover {
    background-color: #66b1ff;
    @include status($focus-color-list);
  }

  &:active {
    background-color: #b3d8ff;
    @include status($active-color-list);
  }

  &:disabled {
    @include status($disable-color-list);
    pointer-events: none;
    cursor: not-allowed;
  }

  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .loading {
    animation: rotate360 1s linear infinite;
  }
}

.y-button+.y-button {
  margin-left: 2px;
}