@import "./common/_base.scss";
@import "./mixins/mixins.scss";

@include blockquote(carousel) {

  &,
  .view-port {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 1;

    .y-carousel-arrow {
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      width: 36px;
      height: 36px;
      border: none;
      border-radius: 50%;
      padding: 0;
      margin: 0;
      cursor: pointer;
      background-color: rgba(31, 45, 61, .11);
      transition: 0.3s;
      color: #fff;
      z-index: 10;
      text-align: center;
      font-size: 12px;

      &:hover {
        background-color: rgba(31, 45, 61, .23);
      }

      &.y-carousel-arrow-left {
        left: 16px;
      }

      &.y-carousel-arrow-right {
        right: 16px;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    li {
      display: inline-block;
      padding: 12px 4px;
      cursor: pointer;
      background-color: transparent;

      .dot-button {
        display: block;
        opacity: .48;
        width: 30px;
        height: 2px;
        background-color: #c0c4cc;
        cursor: pointer;
        transition: .3s linear;
      }

      &.is-active {
        .dot-button {
          background-color: #fff;
          opacity: 1;
        }
      }
    }
  }
}

.carousel-arrow-enter-active {
  transform: translateX(-10px);
}

.carousel-arrow-enter-to {
  transform: translateX(0);
}

.carousel-arrow-leave-active {
  transform: translateX(0);
}

.carousel-arrow-leave-to {
  transform: translateX(-10px);
}