@import "./common/_base.scss";
@import "./mixins/mixins.scss";

@include blockquote(carousel-item) {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}

.carousel-item-enter-active,
.carousel-item-leave-active {
  transition: all 0.4s linear;
}

// 正向轮播
.carousel-item-enter-active {
  transform: translateX(100%);
}

.carousel-item-enter-to {
  transform: translateX(0);
}

.carousel-item-leave-active {
  transform: translateX(0);
}

.carousel-item-leave-to {
  transform: translateX(-100%);
}

// 反向轮播
.carousel-item-enter-active.reserve {
  transform: translateX(-100%);
}

.carousel-item-enter-to.reserve {
  transform: translateX(0);
}

.carousel-item-leave-active.reserve {
  transform: translateX(0);
}

.carousel-item-leave-to.reserve {
  transform: translateX(100%);
}