@import './common/base';
@import './mixins/mixins.scss';

@include blockquote(tree) {
  position: relative;
  background-color: #fff;
  color: #606266;
  transition: .1s linear;

  .y-tree-node {
    padding-left: 36px;

    .y-tree-node-content {
      white-space: nowrap;
      outline: none;
      cursor: pointer;

      @keyframes loadingRotate {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      .loading {
        color: #c0c4cc;
        animation: loadingRotate 1s linear infinite;
      }

      .y-tree-node__expand-icon {
        visibility: hidden;
        color: transparent;
      }

      .y-tree-label {
        font-size: 14px;
      }
    }
  }

  .y-tree-node-show-icon>.y-tree-node-content>.y-tree-node__expand-icon {
    visibility: visible;
    color: #c0c4cc;
  }
}