// button color
$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

// button-active color
$primary-active: #0c81f6;
$success-active: #57b827;
$warning-active: #d6912a;
$danger-active: #ce4040;
$info-active: #656769;

// button-disable color
$primary-disable: #74b3f1;
$success-disable: #a4dd88;
$warning-disable: #e4b876;
$danger-disable: #dd8e8e;
$info-disable: #a2a7aa;

// button-focus color
$primary-focus: #66b1ff;
$success-focus: #85ce61;
$warning-focus: #ebb563;
$danger-focus: #f78989;
$info-focus: #a6a9ad;

$font-size: 14px;
$border-radius: 4px;
$color: #ffffff;

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clearfix {
  display: inline-block;

  &:after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}